@{
    var year = DateTime.Today.ToString("yyyy");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smålands Camping</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logotyp.svg" alt="Smålands Camping" title="Smålands Camping" id="logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Camping">Campingen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Activities">Aktiviteter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Bookings" asp-action="Index">Bokningar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--<div class="container">
        <main role="main" class="pb-3">-->
    @RenderBody()
    <!--</main>
    </div>-->

<footer class="footer">
    <div class="wrapper wrapperPlacement">
        <div>
            <h3>Kontaktuppgifter</h3>
            <ul>
                <li>Smålands Camping</li>
                <li>364 46 Småland</li>
                <li>&nbsp;</li>
                <li>Reception 0441-462 41</li>
                <li>Restaurang 0441-462 46</li>
                <li>&nbsp;</li>
                <li>info@@smalandscamping.se</li>
            </ul>
        </div>
        <div>
            <h3>Öppettider reception</h3>
            <ul>
                <li><span class="footerLeft">Måndag:</span> <span class="footerRight">08:00 - 16:00</span></li>
                <li><span class="footerLeft">Tisdag:</span> <span class="footerRight">08:00 - 16:00</span></li>
                <li><span class="footerLeft">Onsdag:</span> <span class="footerRight">08:00 - 16:00</span></li>
                <li><span class="footerLeft">Torsdag:</span> <span class="footerRight">08:00 - 16:00</span></li>
                <li><span class="footerLeft">Fredag:</span> <span class="footerRight">08:00 - 16:00</span></li>
                <li><span class="footerLeft">Lördag:</span> <span class="footerRight">10:00 - 12:00</span></li>
                <li><span class="footerLeft">Söndag:</span> <span class="footerRight">10:00 - 12:00</span></li>
            </ul>
        </div>
        <div>
            <h3>Öppettider restaurang</h3>
            <ul>
                <li><span class="footerLeft">Måndag:</span> <span class="footerRight">10:00 - 22:00</span></li>
                <li><span class="footerLeft">Tisdag:</span> <span class="footerRight">10:00 - 22:00</span></li>
                <li><span class="footerLeft">Onsdag:</span> <span class="footerRight">10:00 - 22:00</span></li>
                <li><span class="footerLeft">Torsdag:</span> <span class="footerRight">10:00 - 22:00</span></li>
                <li><span class="footerLeft">Fredag:</span> <span class="footerRight">10:00 - 22:00</span></li>
                <li><span class="footerLeft">Lördag:</span> <span class="footerRight">10:00 - 22:00</span></li>
                <li><span class="footerLeft">Söndag:</span> <span class="footerRight">Stängt</span></li>
            </ul>
        </div>
    </div>
    <p>&copy; @year Smålands Camping</p>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
