@model smalandscamping.ViewModels.CottageCreateViewModel

@{
    ViewData["Title"] = "Lägg till stuga";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><span class="breadcrumbItemLoggedIn">Inloggad</span> / <a class="breadcrumbItem" asp-area="" asp-controller="Cottages" asp-action="Index">Hem</a> / Lägg till stuga</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <i class="fas fa-plus-circle cottageIcon"></i>
        <h1 class="title">Lägg till stuga</h1>

        <!-- Formulär för att lägga till en stuga -->
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <p>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="inputText" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </p>
            </div>
            <div>
                <p>
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="inputText" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </p>
            </div>
            <div>
                <p>
                    <label asp-for="NumberOfGuest"></label>
                    <input asp-for="NumberOfGuest" class="inputText" />
                    <span asp-validation-for="NumberOfGuest" class="text-danger"></span>
                </p>
            </div>
            <div>
                <label class="form-check-label">
                    <input asp-for="AnimalsAllowed" /> @Html.DisplayNameFor(model => model.AnimalsAllowed)
                </label>
            </div>
            <br />
            <div>
                <p>
                    <label asp-for="Description"></label>
                    <textarea rows="4" cols="50" asp-for="Description" class="inputText"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </p>
            </div>
            <div>
                <p>
                    <label asp-for="Photo"></label>
                    <input asp-for="Photo" class="inputText" />
                </p>
            </div>
            <div>
                <input type="submit" value="Lägg till" class="authenticationBtn btn" />
            </div>
        </form>

        <div>
            <a asp-action="Index" class="linkBack"><i class="fas fa-chevron-left"></i> Tillbaka till stugorna</a>
        </div>
    </div>
    <div id="border-bottom"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
