@model smalandscamping.Models.Booking

@{
    ViewData["Title"] = "Boka stuga";
    string animalsAllowed = Convert.ToString(ViewData["animalsallowed"]);
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><span class="breadcrumbItemLoggedIn">Inloggad</span> / <a class="breadcrumbItem" asp-area="" asp-controller="Bookings" asp-action="Index">Hem</a> / Boka stuga</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <i class="fas fa-plus-circle cottageIcon"></i>
        <h1 class="title">Boka stuga</h1>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <input type="hidden" value="@ViewData["cottageprice"]" name="price" />
                <p><i class="fas fa-home"></i> @ViewData["cottagename"]</p>
                <p><i class="fas fa-money-bill-wave"></i> @ViewData["cottageprice"]</p>
                <p><i class="fas fa-bed"></i> Max @ViewData["numberofguests"] gäster</p>
                <!-- Kontroll av om djur är tillåtna eller inte -->
                @if (animalsAllowed == "False")
                {
                    <p><i class="fas fa-dog"></i> Djur inte tillåtna</p>
                }
                else
                {
                    <p><i class="fas fa-dog"></i> Djur tillåtna</p>
                }
            </div>
            <div>
                <p>
                    <label asp-for="DateArrival"></label>
                    <input asp-for="DateArrival" class="inputText" />
                    <span asp-validation-for="DateArrival" class="text-danger"></span>
                </p>
            </div>
            <div>
                <p>
                    <label asp-for="DateLeaving"></label>
                    <input asp-for="DateLeaving" class="inputText" />
                    <span asp-validation-for="DateLeaving" class="text-danger"></span>
                </p>
            </div>
            <div>
                <input type="submit" value="Boka" class="authenticationBtn btn" />
            </div>
        </form>

        <div>
            <a asp-action="Index" class="linkBack"><i class="fas fa-chevron-left"></i> Tillbaka till bokningarna</a>
        </div>
    </div>
    <div id="border-bottom"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
