@model smalandscamping.Models.Booking

@{
    ViewData["Title"] = "Create";
    string animalsAllowed = Convert.ToString(ViewData["animalsallowed"]);  
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" value="@ViewData["cottageprice"]" name="price" />
                <p>@ViewData["cottagename"]</p>
                <p>@ViewData["cottageprice"]</p>
                <p>Max @ViewData["numberofguests"] gäster</p>
                <!-- Kontroll av om djur är tillåtna eller inte -->
                @if (animalsAllowed == "False")
                {
                    <p>Djur inte tillåtna</p>
                }
                else
                {
                    <p>Djur tillåtna</p>
                }
                <label asp-for="DateArrival" class="control-label"></label>
                <input asp-for="DateArrival" class="form-control" />
                <span asp-validation-for="DateArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLeaving" class="control-label"></label>
                <input asp-for="DateLeaving" class="form-control" />
                <span asp-validation-for="DateLeaving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

