@model smalandscamping.Models.Booking

@{
    ViewData["Title"] = "Ändra bokning";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><span class="breadcrumbItemLoggedIn">Inloggad</span> / <a class="breadcrumbItem" asp-area="" asp-controller="Bookings" asp-action="Index">Hem</a> / Ändra bokning</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <i class="fas fa-edit cottageIcon"></i>
        <h1 class="title">Ändra bokning</h1>

        <!-- Formulär för att ändra en bokning -->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingId" />
            <input type="hidden" value="@ViewData["cottageprice"]" name="price" />
            <div>
                <p>
                    <label asp-for="DateArrival"></label>
                    <input asp-for="DateArrival" class="inputText" />
                    <span asp-validation-for="DateArrival" class="text-danger"></span>
                </p>
            </div>
            <div>
                <p>
                    <label asp-for="DateLeaving"></label>
                    <input asp-for="DateLeaving" class="inputText" />
                    <span asp-validation-for="DateLeaving" class="text-danger"></span>
                </p>
            </div>
            <div>
                <input type="submit" value="Spara" class="authenticationBtn btn" />
            </div>
        </form>

        <div>
            <a asp-action="Index" class="linkBack"><i class="fas fa-chevron-left"></i> Tillbaka till bokningarna</a>
        </div>
    </div>
    <div id="border-bottom"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

