
@{
    ViewData["Title"] = "Aktiviteter";
}

<!-- Header med bild och text -->
<div class="headerImg activitiesImg">
    <section>
        <h1>Aktiviteter</h1>
        <h3>På campingen finns det aktiviteter för alla</h3>
    </section>
</div>

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><a class="breadcrumbItem" asp-area="" asp-controller="Home" asp-action="Index">Hem</a> / Aktiviteter</p>

<!-- Alla aktiviteter på campingen -->
<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapper wrapperPlacement margin">
        <div class="wrapperBox">
            <i class="fas fa-utensils"></i>
            <h3>Restaurang</h3>
            <p>
                Restaurangen är öppen under vår- och sommarsäsongen. Här kan du avnjuta dina måltider med en vacker utsikt över den närliggande sjön.
                Utbudet är stort och det finns också allergivänliga alternativ. I restaurangen erbjuds det en frukostbuffé, bistro, ett café och en glassbar.
            </p>
            <p><i>Öppettider mellan 10-22 mån-lör</i></p>
            <p><i>Stängt på söndagar</i></p>
        </div>
        <div class="wrapperBox">
            <i class="fas fa-golf-ball"></i>
            <h3>Minigolf</h3>
            <p>
                Minigolfbanan på campingen är öppen för alla under vår- och sommarsäsongen. Utmana dina vänner och tävla om vem som kommer på första plats.
                I slutet av säsongen koras en vinnare som vinner ett presentkort för nästa års säsong av minigolfspelande. Golfbanan är en enkel 12-hålsbana.
            </p>
            <p><i>Öppet mellan 10-22 varje dag</i></p>
            <p><i>Vuxen: 50 kr</i></p>
            <p><i>Barn (3-13 år): 30 kr</i></p>
        </div>
        <div class="wrapperBox">
            <i class="fas fa-hiking"></i>
            <h3>Vandringsleder</h3>
            <p>
                I anslutning till campingen finns det vackra vandringsleder längs sjön. Under vår- och sommarsäsongen anordnas tipsrundor och guidade turer då
                det finns några sevärdheter längs vägen. Ett par av dessa är en 4h gård med alla möjliga djur som kan besökas och en känd kulturstig.
            </p>
            <p><i>Tipsrunda: 10 kr</i></p>
            <p><i>Guidad tur: Gratis för gäster</i></p>
        </div>
        <div class="wrapperBox">
            <i class="fas fa-horse"></i>
            <h3>Ridning</h3>
            <p>
                Under sommarsäsongen får vi besök av Smålands Ridklubb och deras hästar. Ta en ridtur med en av ridklubbens medlemmar till hjälp eller hälsa
                bara på hästarna. Ibland får vi också besök av ridklubbens kossor. Hjälmar finns att låna på plats. Ridning sker endast med en målsman närvarande.
            </p>
            <p><i>Över 13 år: 40 kr</i></p>
            <p><i>Barn (3-13 år): 30 kr</i></p>
        </div>
        <div class="wrapperBox">
            <i class="fas fa-bicycle"></i>
            <h3>Cykling</h3>
            <p>
                Det finns många aktiviteter i närheten av campingen. Några av dem är bondgårdar, kulturstigar, badhus, parker och vacker natur. Cyklar kan hyras under
                dagen. Hjälmar finns också att hyra. Under sommarsäsongen finns även trampbilar till uthyrning. Dessa kan köras på campingens område.
            </p>
            <p><i>Vuxen: 20 kr per dag</i></p>
            <p><i>Barn (3-13 år): Gratis för gäster</i></p>
        </div>
        <div class="wrapperBox">
            <i class="fas fa-fish"></i>
            <h3>Fiske</h3>
            <p>
                Smålands Camping är beläget vid en av Smålands största sjöar. En fiskeskola hålls under sommarsäsongen för barn (8-13 år). Det går att hyra fiskespön och diverse
                andra delar som behövs för den perfekta fisketuren. Fiska går att göra från stranden eller genom att hyra en kanot.
            </p>
            <p><i>Fiskeutrustning finns att hyra i receptionen</i></p>
            <p><i>Uthyrning av kanot: 100 kr per dag</i></p>
        </div>
    </div>
    <div id="border-bottom"></div>
</div>