
@{
    ViewData["Title"] = "Campingen";
}

<!-- Header med bild och text -->
<div class="headerImg campingImg">
    <section>
        <h1>Campingen</h1>
        <h3>Välkommen till Smålands största camping</h3>
    </section>
</div>

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><a class="breadcrumbItem" asp-area="" asp-controller="Home" asp-action="Index">Hem</a> / Campingen</p>

<!-- Information om campingen -->
<div class="wrapper">
    <div id="campingText">
        <p id="leftP">
            Varmt välkommen till Smålands Camping! Vi är stolta över att vara Smålands största camping. Här kan du uppleva allt ifrån vacker natur till
            olika sevärdheter. På campingen kan du spendera dina dagar slappandes vid den närliggande sjön, avnjuta mat och fika i restaurangen och äta en
            glass eller två under sommarkvällarna. Vill du hitta på någon fysisk aktivitet kan du spela en runda på vår minigolfbana, hyra en cykel eller
            trampbil eller varför inte hyra en kanot och fiska? Till de små finns det aktiviteter såsom ridning och fiskeskola. I närheten av campingen
            finns det aktiviteter såsom badhus, en 4h-gård och badstränder. Det anordnas också tipsrundor och guidade turer längs vandringslederna i
            samband med campingen.
        </p>
        <p id="rightP">
            På campingen kan du hyra stugor året runt. Vi erbjuder både kort- och långtidsbeoende med alla bekvämligheter som du kan tänkas behöva.
            Stugorna är av hög kvalité och i de flesta tillåts djur. Vi på campingen arbetar hårt för att våra gäster ska få en bra upplevelse hos
            oss. Varmt välkommen att <a class="linkText" asp-area="" asp-controller="Home" asp-action="Contact">kontakta</a> oss vid eventuella frågor.
        </p>
    </div>
</div>

<!-- Information om campingsäsongerna och saker som är bra att veta inför ankomst och under vistelsen -->
<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapper wrapperPlacement margin">
        <div class="wrapperBox">
            <i class="far fa-calendar-alt"></i>
            <h3>Säsonger</h3>
            <ul class="fa-ul">
                <li><i class="fas fa-angle-double-right"></i>Vårsäsong: 1 mars - 1 juni</li>
                <li><i class="fas fa-angle-double-right"></i>Sommarsäsong: 1 juni – 1 september</li>
                <li><i class="fas fa-angle-double-right"></i>Höstsäsong: 1 september - 1 november</li>
                <li><i class="fas fa-angle-double-right"></i>Vintersäsong: 1 november - 1 mars</li>
                <i>*Priserna varierar beroende på säsong</i>
            </ul>
        </div>
        <div class="wrapperBox">
            <i class="fas fa-suitcase-rolling"></i>
            <h3>Inför ankomst</h3>
            <ul class="fa-ul">
                <li><i class="fas fa-angle-double-right"></i>60 stugor för uthyrning</li>
                <li><i class="fas fa-angle-double-right"></i>Handikappanpassade utrymmen</li>
                <li><i class="fas fa-angle-double-right"></i>Incheckning tidigast klockan 15:00</li>
                <li><i class="fas fa-angle-double-right"></i>Utcheckning senast klockan 11:00</li>
                <li><i class="fas fa-angle-double-right"></i>I stugorna finns det täcken och kuddar</li>
            </ul>
        </div>
        <div class="wrapperBox">
            <i class="fas fa-home"></i>
            <h3>Under vistelsen</h3>
            <ul class="fa-ul">
                <li><i class="fas fa-angle-double-right"></i>Passerkortsystem används på campingen</li>
                <li><i class="fas fa-angle-double-right"></i>Förbrukningsmaterial finns i stugorna</li>
                <li><i class="fas fa-angle-double-right"></i>Eluttag finns i samtliga stugor</li>
                <li><i class="fas fa-angle-double-right"></i>Fri tillgång till wifi på campingens område</li>
                <li><i class="fas fa-angle-double-right"></i>Avresestädning sker innan utcheckning</li>
            </ul>
        </div>
    </div>
    <div id="border-bottom"></div>
</div>