@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bekräftelse glömt lösenord";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><a class="breadcrumbItem" asp-area="" asp-controller="Home" asp-action="Index">Hem</a> / <a class="breadcrumbItem" asp-area="Identity" asp-page="/Account/Login">Logga in</a> / Glömt lösenord / Bekräftelse glömt lösenord</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <i class="fas fa-check"></i>
        <h1 class="title">Bekräftelse glömt lösenord</h1>
        <p id="loginText">Ett mail har skickats till din e-post med instruktioner för glömt lösenord</p>
        <a class="authenticationBtn btn" asp-area="Identity" asp-page="/Account/Login">Logga in</a><br /><br />
    </div>
    <div id="border-bottom"></div>
</div>
