@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Glömt ditt lösenord?";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><a class="breadcrumbItem" asp-area="" asp-controller="Home" asp-action="Index">Hem</a> / <a class="breadcrumbItem" asp-area="Identity" asp-page="/Account/Login">Logga in</a> / Glömt lösenord</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <form method="post">
            <i class="fas fa-unlock"></i>
            <h1 class="title">Glömt ditt lösenord?</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">E-post</label>
                <input asp-for="Input.Email" class="inputText" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="authenticationBtn btn marginBtn">Skicka</button>
        </form>
    </div>
    <div id="border-bottom"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
