@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><a class="breadcrumbItem" asp-area="" asp-controller="Home" asp-action="Index">Hem</a> / Logga in</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <form id="account" method="post">
            <i class="fas fa-user"></i>
            <h1 class="title">Logga in</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <p>
                    <label asp-for="Input.Email">E-post</label>
                    <input asp-for="Input.Email" class="inputText" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </p>
                <p>
                    <label asp-for="Input.Password">Lösenord</label>
                    <input asp-for="Input.Password" class="inputText" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </p>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        Kom ihåg mig
                    </label>
                </div>
            </div>
            <div>
                <button type="submit" class="authenticationBtn btn">Logga in</button>
            </div>
            <div id="addedInfoLogin">
                <p>
                    <a id="forgotPassword" asp-page="./ForgotPassword">Glömt ditt lösenord?</a>
                </p>
                <h4 id="noAccount">Har du inget konto?</h4>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" id="newAccount">Registrera dig</a>
            </div>
        </form>
    </div>
    <div id="border-bottom"></div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
