@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrera konto";
}

<!-- Brödsmulor -->
<p class="wrapper breadcrumbWrapper"><a class="breadcrumbItem" asp-area="" asp-controller="Home" asp-action="Index">Hem</a> / Registrera konto</p>

<div id="lightBackground">
    <div id="border-top"></div>
    <div class="wrapperAuthentication margin">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <i class="fas fa-user"></i>
            <h1 class="title">Registrera konto</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <p>
                    <label asp-for="Input.Email">E-post</label>
                    <input asp-for="Input.Email" class="inputText" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </p>
            </div>
            <div>
                <p>
                    <label asp-for="Input.Password">Lösenord</label>
                    <input asp-for="Input.Password" class="inputText" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </p>
            </div>
            <div>
                <p>
                    <label asp-for="Input.ConfirmPassword">Bekräfta lösenord</label>
                    <input asp-for="Input.ConfirmPassword" class="inputText" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </p>
            </div>
            <button type="submit" class="authenticationBtn btn marginBtn">Skapa konto</button>
        </form>
    </div>
    <div id="border-bottom"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
