/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*------ LÄNKAR OCH KNAPPAR ------*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link {
    margin-top: 1.8em;
    color: #000 !important;
    padding: 0.5em;
}

.nav-link:hover, a:hover {
    color: #d45d47 !important;
}

.btn {
    background-color: #44808b;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
}

.btn:hover {
    color: #fff !important;
}

.logoutBtn {
    color: #fff;
    background-color: #44808b;
    border: 0;
}

.container {
    padding: 0 1.8em;
}

/*------ GENERELLT ------*/
html {
  font-size: 0.95em;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #fff !important;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

/*------ FOOTER ------*/
.footer {
    width: 100%;
    white-space: nowrap;
    background-color: #d45d47;
    color: #fff;
    padding-top: 4em;
    padding-bottom: 1.5em;
}

.footer .wrapper div {
    margin-bottom: 0;
}

.footer h3 {
    text-align: left;
}

.footer ul {
    margin-bottom: 0.2em;
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

.footer ul li {
    margin-left: 0;
    padding-left: 0;
    line-height: 1.8em;
    overflow: auto;
}

.footerLeft {
    float: left;
}

.footerRight {
    float: right;
    margin-right: 6em;
}

.footer p {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0;
}

/*------ HAMBURGARMENY ------*/
header {
    overflow: auto;
}

.hamburgerMenu, .hMenuClose {
    float: right;
    margin-top: 2.5em;
    width: 26px;
    height: 26px;
    display: none;
}

.hamburgerMenu {
    background-image: url("../img/menu.svg");
}

.hMenuClose {
    background-image: url("../img/menu-closed.svg");
}

.hamburgerMenu:hover, .hMenuClose {
    cursor: pointer;
}

#globalNav {
    margin-top: 3.2em;
}

.navbar-brand {
    margin-top: 0.5em;
}

.navbar-brand, #globalNav {
    float: left;
}

#globalNav ul:first-child {
    float: left;
    padding-left: 0;
}

#globalNav ul:last-child {
    float: right;
    margin-left: 13.2em;
}

.nav-item, .nav-item .nav-link {
    display: inline;
}

.formLogout {
    display: inline-block;
}


/*------ STARTSIDA OCH GENERELLT ------*/
#logo {
    width: 13em;
}

.headerImg {
    height: 27.6em;
    width: 100%;
    position: relative;
}

.headerImgIndex {
    height: 27.6em;
    width: 100%;
    color: #fff;
}

.headerBtn {
    float: left !important; 
}

.headerImgIndex h1 {
    text-align: left !important;
    font-size: 4em;
    padding-top: 1.5em;
}

.headerImgIndex h3 {
    text-align: left;
}

#indexTitle {
    text-align: center;
    margin-top: 2em;
}

.indexImg {
    background-image: url(../img/index.jpg);
}

.activitiesImg {
    background-image: url(../img/activities.jpg);
}

.campingImg {
    background-image: url(../img/camping.jpg);
}

.contactImg {
    background-image: url(../img/contact.jpg);
}

.headerImg section {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40em;
    height: 20em;
    margin-top: 4em;
    margin-bottom: 5em;
    padding: 1.5em;
    padding-top: 7em;
    background-color: rgba(249, 246, 233, 0.6);
}

.breadcrumbWrapper {
    margin-top: 1em !important;
}

.breadcrumbItem, .breadcrumbItemLoggedIn {
    color: #4b4c4e;
}

.breadcrumbItem:hover {
    text-decoration: underline;
}

.wrapper {
    max-width: 1140px;
    padding: 0 1.8em;
    margin: 0 auto;
}

.wrapperAuthentication {
    max-width: 450px;
    padding: 0 1.8em;
    margin: 0 auto;
}

.wrapperPlacement {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.margin {
    margin-top: 3em;
    padding-top: 3em;
}

.wrapper .wrapperBox {
    width: 20.4em;
    margin-bottom: 3em;
    text-align: center;
}

.wrapper .wrapperBox img {
    object-fit: cover;
    max-width: 100%;
    height: 14em;
}

.wrapper .wrapperBox .fas, .wrapper .wrapperBox .far, .fa-user, .fa-unlock, .cottageIcon, .fa-check {
    font-size: 3em;
    margin-bottom: 0.4em;
    color: #d45d47;
}

.cottageIcon, .fa-check {
    display: block;
    text-align: center;
}

#loginText {
    text-align: center;
}

.wrapper .wrapperBox p {
    text-align: left;
}

.wrapperCenter {
    text-align: center !important;
}

.wrapperIndex {
    background-color: #fff;
    position: relative;
    margin-bottom: 7em !important;
}

.contentIndex {
    padding: 1em;
}

.indexBtn {
    margin-bottom: 0 !important;
    position: absolute;
    bottom: -3em;
    display: block;
}

.wrapperIndex .fas {
    font-size: 1em !important;
    color: #000 !important;
    margin-right: 0.2em;
}

.wrapperIndex ul {
    text-align: left;
    padding-left: 0;
    list-style: none;
}

#lightBackground {
    background-color: #f9f6e9;
    position: relative;
}

#border-top {
    background: url(../img/border-pattern-top.svg);
    width: 100%;
    height: 1em;
    top: -1em;
    position: absolute;
}

#border-bottom {
    background: url(../img/border-pattern-bottom.svg);
    width: 100%;
    height: 1em;
    bottom: -1em;
    position: absolute;
}

/*------ VÄDER-API FRÅN SMHI ------*/
#wrapperWeather {
    background-color: #44808b;
    width: 40%;
    color: #fff;
    float: right;
    padding: 1.5em;
    margin-top: 7em;
}

#wrapperWeather h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
}

#wrapperWeather p {
    margin-bottom: 0;
    margin-top: 1.5em;
}

#wrapperWeather table {
    width: 100%;
}

#wrapperWeather table th {
    border-bottom: 1px solid #fff;
}

#indexInfo {
    width: 60%;
    float: left;
}

/*------ CAMPINGEN ------*/
#campingText {
    margin-top: 2em;
    overflow: auto;
}

#leftP, #rightP {
    width: 49.6%;
}

#leftP {
    padding-right: 2.2em;
    border-right: 3px dashed #d45d47;
    float: left;
}

#rightP {
    padding-left: 2.2em;
    border-left: 3px dashed #d45d47;
    float: right;
}

.linkText {
    color:#d45d47; 
}

.fa-ul {
    text-align: left;
    list-style-position: inside;
    margin-left: 0;
}

.fa-angle-double-right {
    font-size: 1em !important;
    color: #000 !important;
    margin-right: 0.5em;
}

/*------ KONTAKT ------*/
iframe {
    width: 100%;
    border: 0;
    height: 22em;
    margin-bottom: -0.5em;
}

.wrapperForm {
    max-width: 900px !important;
    margin-top: 4em;
}

.wrapperForm h3 {
    text-align: center;
}

label {
    width: 100%;
}

#contactForm div {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contactForm p {
    width: 46%;
}

form i {
    font-size: 0.9em;
}

.inputText {
    width: 100%;
    padding: 0.4em 0 0.4em 0.4em;
    border: 1px solid #ced4da; 
    font: inherit;
}

.formBtn {
    margin-top: 2em;
    margin-bottom: 3em;
    border-radius: 0;
    border: none;
    width: 15em;
    padding: 1em;
    float: right;
}

/*------ REGISTERA OCH LOGGA IN -------*/
.fa-user, .fa-unlock {
    display: block;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.authenticationBtn {
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 1em;
}

#forgotPassword {
    display: block;
    text-align: center;
    color: #000;
    text-decoration: underline;
}

#noAccount {
    margin-top: 1.6em;
    text-align: center;
}

#newAccount {
    width: 100%;
    display: block;
    color: #fff;
    background-color: #000;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    margin-top: 1em;
}

#newAccount:hover {
    text-decoration: none;
    color: #fff !important;
}

#addedInfoLogin {
    padding-bottom: 4em;
}

.marginBtn {
    margin-bottom: 4em;
}

/*------ INLOGGAD ------*/
.table {
    margin-bottom: 0;
}

.wrapperTable {
    padding-bottom: 4em;
}

.crudItem {
    color: #000;
}

.crudItem:hover {
    color: #d45d47;
}

.linkBack {
    padding-bottom: 4em;
}

.linkBack, .linkBackEdit {
    display: block;
    text-align: center;
    color: #000;
}

.linkBack i, .linkBackEdit i {
    margin-right: 0.4em;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

dt, dd {
    width: 100%;
}

/*------ MEDIA QUERIES ------*/
@media screen and (max-width: 1200px) {
    .hamburgerMenu {
        display: block;
    }

    #globalNav {
        display: none;
        float: none;
        position: absolute;
        right: 0;
        top: 20px;
        z-index: 10000;
        background-color: #fff;
        padding-bottom: 0.5em;
        width: 100%;
        font-size: 1.3em;
    }

    #globalNav li {
        display: block;
        padding: 1em 0 1em 1.2em;
        margin-right: 0;
        width: 100%;
        text-align: center;
    }

    #globalNav ul {
        padding: 0;
        margin-bottom: 0;
    }

    #globalNav ul:first-child, #globalNav ul:last-child {
        float: none;
        margin-left: 0;
    }
}

@media screen and (max-width: 1100px) {
    .wrapper {
        max-width: 850px;
    }
}

@media screen and (max-width: 850px) {
    #wrapperWeather {
        display: none;
    }

    #indexInfo {
        width: 100%;
        float: none; 
        text-align: center;
    }

    .headerImgIndex h1 {
        text-align: center !important;
        font-size: 3.5em;
    }

    .headerImgIndex h3 {
        text-align: center;
    }

    .headerBtn {
        float: none !important;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 750px) {
    .footer {
        font-size: 0.9em;
    }

    #footerR {
        margin-left: 2em;
    }
}

@media screen and (max-width: 700px) {
    .wrapper .wrapperBox {
        width: 18em;
    }

    .footer .wrapper div {
        width: 20em;
        margin-bottom: 2em;
    }

    .footer .wrapper div:last-child {
        margin-bottom: 0;
    }

    #footerR {
        margin-left: 0;
    }
}

@media screen and (max-width: 650px) {
    .headerImg {
        height: 20em;
    }

    .headerImg section {
        width: 30em;
        height: 15em;
        margin-top: 2.5em;
        margin-bottom: 3em;
        padding-top: 3em;
    }
}

@media screen and (max-width: 630px) {
    .wrapper {
        max-width: 500px;
    }

    .wrapper .wrapperBox {
        width: 100%;
    }

    .headerImgIndex {
        height: 20em;
    }

    .headerImgIndex h1 {
        font-size: 3em;
    }

    .footer .wrapper div {
        width: 16.4em;
    }

    #leftP, #rightP {
        float: none;
        width: 100%;
        padding: 0;
        border: none;
    }

    #contactForm p {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .headerImg section {
        width: 25em;
    }
}

@media screen and (max-width: 450px) {
    .headerImgIndex h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 400px) {
    .headerImg section {
        width: 20em;
    }
}

@media screen and (max-width: 380px) {
    .headerImgIndex {
        height: 22em;
    }
}

@media screen and (max-width: 360px) {
    #logo {
        width: 12em;
    }

    .hamburgerMenu, .hMenuClose {
        width: 22px;
        height: 22px;
    }

    #globalNav {
        top: 15px;
    }
}